<html>
    <head>

    </head>
    <body>
        <div>
            <div style="padding-left: 650px; margin-top: 400px;" >
                <p>
                    <h1>Upload a single or mutilple images </p></h1></p>
                </p>
                <form method="POST" action="/predict" enctype="multipart/form-data">
                    <input type="file"  name="files" id="files" multiple/>
            </div>      
                    <input type="submit" value="predcit" style="background-color: green; padding: 15px 25px; width: 100%;">
                    
                </form>
            
        </div>


    </body>
</html>